body {
    background-image: linear-gradient(to right bottom, #051937, #0b1f44, #142551, #1e2b5e, #2a306b);
    color: white !important;
}
.dn {
    display: none !important;
}
#app{
    height: 100vh;
}
#title{
    height: 100px;
    width: 100%;
}
#input {
    height: calc(100vh - 100px);
}
.numpad {
    height: 60%;
    width: 60%;
    display: flex;
    flex-flow: row wrap;
}
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 0 33.3333%;

    background-color: transparent;
    color: white;
    border: 1px solid rgba(255, 255, 255, .25);
}
.spanresult {
    border: 1px solid rgba(255, 255, 255, .25);
    font-size: 50px;
    padding: 30px;
}

.reverse {
    border: 1px solid rgba(255, 255, 255, .25);
    padding: 30px;
    background-color: transparent;
    color: white;

    margin-top: 60px;
}
