<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HOW MANY ?</title>
    <style>
        .dn {
            display: none;
        }
    </style>
    <link rel="stylesheet" href="{{ asset('assets/css/animate.css') }}">
</head>
<body>
<div id="app">
    <h1>${message} <span v-if="howmany">${howmany}</span></h1>
    <div id="input">

        <div class="howmany animated">
            <label for="howmany">Entre 2 et 10</label>
            <input type="number" min="2" max="10" id="howmany" v-model="howmany">
            <button v-on:click="howmanybutton">Valider</button>
        </div>
        <div class="player1 animated dn">
            <label for="player1">Joueur 1</label>
            <input type="number" name="player1" id="player1" min="1" :max="howmany" v-model="player1">
            <button v-on:click="player1button">Valider</button>

        </div>
        <div class="player2 animated dn">
            <label for="player2">Joueur 2</label>
            <input type="number" name="player2" id="player2" min="1" :max="howmany" v-model="player2">
            <button v-on:click="player2button">Valider</button>
        </div>
        <div class="result animated dn">
            <div id="player1result">Joueur 1 - ${player1}</div>
            <div id="player2result">Joueur 2 - ${player2}</div>
            <button v-on:click="reversebutton" id="reverse" class="dn">UN PETIT REVERSE ?</button>
        </div>
    </div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
<script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script>
    var app = new Vue({
        el: '#app',
        delimiters: ['${', '}'],
        data : {
            message: 'Pour Combien ?',
            howmany: 2,
            player1: 1,
            player2: 1,
            reverseInt: true,
        },
        methods: {
            howmanybutton: function () {
                $('.howmany').addClass('fadeOutRight').one('animationend', function () {
                    $(this).addClass('dn').removeClass('fadeOutRight');
                    $('.player1').removeClass('dn').addClass('fadeInLeft').one('animationend', function () {
                        $(this).removeClass('fadeInLeft');
                    });
                });
            },
            player1button: function () {
                $('.player1').addClass('fadeOutRight').one('animationend', function () {
                    $(this).addClass('dn').removeClass('fadeOutRight');
                    $('.player2').removeClass('dn').addClass('fadeInLeft').one('animationend', function () {
                        $(this).removeClass('fadeInLeft');
                    });
                });

            },
            player2button: function () {
                $('.player2').addClass('fadeOutRight').one('animationend', function () {
                    $(this).addClass('dn').removeClass('fadeOutRight');
                    $('.result').removeClass('dn').addClass('fadeInLeft').one('animationend', function () {
                        $(this).removeClass('fadeInLeft');
                    });
                });
                if ((this.player1 != this.player2) && this.reverseInt) {
                    $('#reverse').removeClass('dn');
                    this.reverseInt = false;
                }

            },
            reversebutton: function () {
                this.howmany = Math.ceil(this.howmany/2);
                if(this.howmany === 1) {
                    this.howmany = 2;
                }
                this.player1 = 1;
                this.player2 = 1;
                
                $('.result').removeClass('fadeInLeft').addClass('fadeOutRight').one('animationend', function () {
                   $(this).addClass('dn').removeClass('fadeOutRight');
                });
                $('.player1').removeClass('dn').addClass('fadeInLeft').one('animationend', function () {
                    $(this).removeClass('fadeInLeft');
                });
                $('#reverse').addClass('dn');
            }
        },
    });
</script>
</html>