<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0 minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HOW MANY ?</title>
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/animate.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
    <script src="{{ asset('assets/js/bootstrap.min.js') }}" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
<div id="app">
    <div id="title" class="d-flex flex-row">
        <h1 class="col-lg-12 text-center" style="padding-top: 10px;">${message}
            <br/><span v-if="howmany">Sur ${howmany}</span>
        </h1>
    </div>
    <div id="input" class="d-flex flex-row align-items-center justify-content-center">
        <div class="howmany animated numpad">
            <div v-on:click="howmanybutton(2)" class="button">2</div>
            <div v-on:click="howmanybutton(3)" class="button">3</div>
            <div v-on:click="howmanybutton(4)" class="button">4</div>
            <div v-on:click="howmanybutton(5)" class="button">5</div>
            <div v-on:click="howmanybutton(6)" class="button">6</div>
            <div v-on:click="howmanybutton(7)" class="button">7</div>
            <div v-on:click="howmanybutton(8)" class="button">8</div>
            <div v-on:click="howmanybutton(9)" class="button">9</div>
            <div v-on:click="howmanybutton(10)" class="button">10</div>
        </div>
        <div class="player1 animated dn numpad">
            <div v-for="n in howmany" v-on:click="player1button(n)" class="button dn">${n}</div>
        </div>
        <div class="player2 animated dn numpad">
            <div v-for="n in howmany" v-on:click="player2button(n)" class="button dn">${n}</div>
        </div>
        <div class="result animated dn col-lg-12 text-center">
            <span class="spanresult" id="player1result">${player1}</span>
            <span class="text-center" style="font-size: 50px; padding: 20px;">-</span>
            <span class="spanresult" id="player2result">${player2}</span>
            <button v-on:click="reversebutton" id="reverse" class="dn reverse">UN PETIT REVERSE ?</button>
            <button v-on:click="reset" id="reset" class="reverse">Reset</button>
        </div>
    </div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

{#<script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>#}
<script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script>
    var app = new Vue({
        el: '#app',
        delimiters: ['${', '}'],
        data : {
            message: 'Pour Combien ?',
            howmany: null,
            player1: null,
            player2: null,
            reverseInt: true,
        },
        methods: {
            howmanybutton: function (howmany) {
                this.howmany = howmany;
                $('.howmany').addClass('fadeOutRight').one('animationend', function () {
                    $(this).addClass('dn').removeClass('fadeOutRight').children().addClass('dn');
                    $('.player1').removeClass('dn').addClass('fadeInLeft').one('animationend', function () {
                        $(this).removeClass('fadeInLeft');
                    }).children().removeClass('dn');
                });
            },
            player1button: function (player1) {
                this.player1 = player1;
                $('.player1').addClass('fadeOutRight').one('animationend', function () {
                    $(this).addClass('dn').removeClass('fadeOutRight').children().addClass('dn');
                    $('.player2').removeClass('dn').addClass('fadeInLeft').one('animationend', function () {
                        $(this).removeClass('fadeInLeft');
                    }).children().removeClass('dn');
                });

            },
            player2button: function (player2) {
                this.player2 = player2;
                $('.player2').addClass('fadeOutRight').one('animationend', function () {
                    $(this).addClass('dn').removeClass('fadeOutRight').children().addClass('dn');
                    $('.result').removeClass('dn').addClass('fadeInLeft').one('animationend', function () {
                        $(this).removeClass('fadeInLeft');
                    });
                });
                if ((this.player1 != this.player2) && this.reverseInt) {
                    $('#reverse').removeClass('dn');
                    this.reverseInt = false;
                }

            },
            reversebutton: function () {
                this.howmany = Math.ceil(this.howmany/2);
                if(this.howmany === 1) {
                    this.howmany = 2;
                }
                this.player1 = 1;
                this.player2 = 1;

                $('.result').removeClass('fadeInLeft').addClass('fadeOutRight').one('animationend', function () {
                    $(this).addClass('dn').removeClass('fadeOutRight');
                    $('.player1').removeClass('dn').addClass('fadeInLeft').one('animationend', function () {
                        $(this).removeClass('fadeInLeft');
                    }).children().removeClass('dn');
                    $('#reverse').addClass('dn');
                });

            },
            reset: function () {
                var vue = this;
                $('.result').removeClass('fadeInLeft').addClass('fadeOutRight').one('animationend', function () {
                    $(this).addClass('dn').removeClass('fadeOutRight');
                    vue.howmany = null;
                    vue.player1 = 1;
                    vue.player2 = 1;
                    vue.reverseInt = true;
                    $('.howmany').removeClass('dn').addClass('fadeInLeft').one('animationend', function () {
                        $(this).removeClass('fadeInLeft');
                    }).children().removeClass('dn');
                    $('#reverse').addClass('dn');
                });


            }
        },
    });
</script>
</html>